<div class="row list comp-list-row">
  <div class="col-12">
    <div class="card comp-list-card border-element-{{ c.quest.get_element|lower }}">
      <div
        class="card-body"
        style="--background: url('{{ c.get_lead.get_portrait }}')"
      >
        <div class="row align-items-center">
          <div class="col-auto comp-list-card-portrait">
            <div class="comp-list-card-portrait-banner{% if no_banner %} mobile-hide{% endif %}">
              <img
                src="{{ c.quest.get_banner_image }}"
                class="border-element-{{ c.quest.get_element|lower }}"
              />
            </div>
          </div>
          <div class="col ms-n2">
            <!-- Title -->
            <h3 class="mb-1 name">
              <a href="{{ c.get_absolute_url }}">{{ c }}</a>
            </h3>

            <p class="mb-0">{{ c.description }}</p>

            <!-- Text -->
            <p class="card-text small text-muted mb-1">
              <time datetime="2018-06-21"
                >{{ c.difficulty }} - {{ c.clear_time }} - {{ c.clear_rate }}%</time
              >
            </p>

            <p class="mb-0">
              {% for slot, build in c.get_team.items %}
              <img src="{{ build.adventurer.get_image }}" style="width: 60px" />
              {% endfor %}
            </p>
          </div>
        </div>
        <!-- / .row -->
      </div>
      <!-- / .card-body -->
    </div>
  </div>
</div>
