{% extends 'comps/comp-list-base.html' %}

{% block meta_title %}Dragalia Lost {{ title }} Team Comps & Builds - Dragalia.gg{% endblock %}
{% block meta_description %}Check out the latest team compositions and builds for {{ title }} on Dragalia Lost!{% endblock %}
{% block meta_extra %}
{% if list_type == 'quest' or list_type == 'difficulty' %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:description" content="{{ title }} Team Comps & Builds" />
  <meta property="og:site_name" content="Dragalia.gg - Dragalia Lost Team Compositions & Builds" />
  <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ quest.get_banner_image }}" />
{% endif %}
{% endblock %}

{% block header_pretitle %}Dragalia Lost{% endblock %}
{% block header_title %}{{ title }}{% if difficulty %} {{ difficulty }}{% endif %} Comps{% endblock %}

{% block page_nav %}{% endblock %}

{% block page_content %}
<div class="row">
  <!-- order-last order-md-first -->
  <div class="col-12 col-xl-9 order-last order-md-first">    
    {% if not comps %}
    No Comps!
    {% endif %}
    {% for c in comps %}
    {% if list_type == 'quest' or list_type == 'difficulty'%}
        {% if forloop.first %}
            {% include "comps/partials/comp_listing_row.html" %}
        {% else %}
            {% include "comps/partials/comp_listing_row.html" with no_banner=True %}
        {% endif %}
    {% else %}
    {% include "comps/partials/comp_listing_row.html" %}
    {% endif %}
    {% endfor %}
    {% include "partials/pagination.html" %}
  </div>

  <div class="col-12 col-xl-3">
    <div class="card">
      <div class="card-body mt-0 pt-0 pb-0" style="margin-top: 0;">
        {% if list_type == 'section' %}
        <div class="list-group list-group-flush list-group-focus d-block d-sm-none">
          <a id="questNavMenu" class="list-group-item" href="javascript:;">
            <div class="row align-items-center">
              <div class="col ms-n2">
                <h4 class="text-body text-focus mb-1 name">
                  <span class="fe fe-menu"></span> Quest Navigation
                </h4>
              </div>
            </div> <!-- / .row -->
          </a>
        </div>
        <div id="questNav" class="list-group list-group-flush list-group-focus d-none d-sm-block">
          {% for quest in section.get_quests %}
          <a class="list-group-item" href="{{ quest.get_absolute_url }}">
            <div class="row align-items-center">
              <div class="col-auto">
                <div class="avatar list-nav-avatar" style="background-image: url('{{ quest.get_banner_image }}'); background-position: {{ quest.image_offset }}px 0;"></div>
              </div>
              <div class="col ms-n2">
                <h4 class="text-body text-focus mb-1 name">
                  {{ quest.get_nav_title }}
                </h4>
                <p class="small text-muted mb-0">
                  {{ quest.comps.count }} Comps
                </p>
              </div>
            </div> <!-- / .row -->
          </a>
          {% endfor %}
          {% for d, count in quest_difficulties %}
          <a class="list-group-item" href="{% url 'comp-list' section.slug %}?difficulty={{ d.slug }}">
            <div class="row align-items-center">
              <div class="col ms-n2">
                <h4 class="mb-1 name{% if d == difficulty %} text-{{ d|lower }}{% endif %}">
                  {{ d }} <small class="text-muted">{{ count }} comps</small>
                </h4>
              </div>
            </div> <!-- / .row -->
          </a>
          {% endfor %}
        </div>
        {% endif %}
        {% if list_type == 'quest' or list_type == 'difficulty' %}
        <div class="list-group list-group-flush list-group-focus">
          <a class="list-group-item" href="{{ quest.section.get_absolute_url }}">
            <div class="row align-items-center">
              <div class="col ms-n2">
                <h4 class="text-body text-focus mb-1 name">
                  <span class="fe fe-arrow-left"></span> {{ quest.section }}
                </h4>
              </div>
            </div> <!-- / .row -->
          </a>
           <a class="list-group-item" href="{{ quest.get_absolute_url }}">
            <div class="row align-items-center">
              <div class="col-auto">
                <div class="avatar list-nav-avatar" style="background-image: url('{{ quest.get_banner_image }}'); background-position: {{ quest.image_offset }}px 0;"></div>
              </div>
              <div class="col ms-n2">
                <h4 class="text-body text-focus mb-1 name">
                  {{ quest.get_nav_title }}
                </h4>
                <p class="small text-muted mb-0">
                  {{ quest.comps.count }} Comps
                </p>
              </div>
            </div> <!-- / .row -->
          </a>
          {% for d, count in quest_difficulties %}
          <a class="list-group-item" href="{% url 'comp-list' quest.section.slug quest.slug d.slug %}">
            <div class="row align-items-center">
              <div class="col ms-n2">
                <h4 class="mb-1 name{% if d == difficulty %} text-{{ d|lower }}{% endif %}">
                  {{ d }} <small class="text-muted">{{ count }} comps</small>
                </h4>
              </div>
            </div> <!-- / .row -->
          </a>
          {% endfor %}
        </div>
        {% endif %}
        
      </div>
    </div>
  </div>
</div>
{% endblock %}