{% extends 'base.html' %}

{% block meta_title %}{{ comp }} - Dragalia.gg{% endblock %}
{% block meta_description %}{{ comp }} build on Dragalia Lost!{% endblock %}
{% block meta_extra %}
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ comp }}" />
  <meta property="og:url" content="{{ request.build_absolute_uri }}" />
  <meta property="og:description" content="{{ comp.difficulty }} {{ comp.quest }} featuring {{ comp.get_lead }} lead." />
  <meta property="og:site_name" content="Dragalia.gg - Dragalia Lost Team Compositions & Builds" />
  <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ comp.get_lead.get_image }}" />
{% endblock %}
{% block meta_canonical %}
  <link rel="canonical" href="{{ request.build_absolute_uri }}"/>
{% endblock %}

{% block header_pretitle %}Dragalia Lost{% endblock %}
{% block header_title %}{{ comp }}{% endblock %}
{% block header_posttitle %}
<div class="mt-2">
  <span class="badge bg-{{ comp.difficulty|lower }}">{{ comp.difficulty }}</span>
  <span class="badge bg-primary-soft">{{ comp.comp_type }}</span>
  {% if comp.clear_time %}<span class="badge bg-primary-soft">Clear Time: {{ comp.clear_time }}</span>{% endif %}
  {% if comp.clear_rate %}<span class="badge bg-primary-soft">Clear Rate: {{ comp.clear_rate }}%</span>{% endif %}
</div>
{% endblock %}

{% block page_nav %}
<!-- Nav -->
<ul class="nav nav-tabs nav-overflow header-tabs">
    <li class="nav-item">
    <a href="#" class="nav-link active" data-bs-toggle="tab" data-bs-target="#comp_visual">
        Comp
    </a>
    </li>
    <li class="nav-item">
    <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#comp_text">
        Text
    </a>
    </li>
</ul>
{% endblock %}

{% block page_breadcrumb %}
<nav aria-label="breadcrumb" class="mb-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ comp.quest.section.get_absolute_url }}">{{ comp.quest.section }}</a></li>
        <li class="breadcrumb-item"><a href="{{ comp.quest.get_absolute_url }}">{{ comp.quest.nav_title }}</a></li>
        <li class="breadcrumb-item active mobile-hide" aria-current="page">{{ comp.get_title }}</li>
    </ol>
</nav>
{% endblock %}

{% block page_content %}
<div class="row" style="max-width: 1100px;">
  <!-- order-last order-md-first -->
  <div class="col-12 col-xl-8 tab-content">
    <div class="tab-pane active" id="comp_visual">
      <!-- Card -->
      {% for slot, build in comp.get_team.items %}
      <div class="card" style="padding: 10px;">
        <div class="row">
          <div class="col-4 col-sm-2">
            <a href="{{ build.adventurer.get_absolute_url }}" class="adventurer-image" style="background-image: url('{{ build.adventurer|get_image_size:120 }}');">&nbsp;</a>
            <div class="build-adventurer-dragon">
              {% spaceless %}
              <a href="{{ build.dragon.get_wiki_url }}" target="_blank">
                <img data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" title="{{ build.dragon.name }}" src="{{ build.dragon.get_image }}" />
              </a>
              <a href="{{ build.weapon.get_wiki_url }}" target="_blank">
                <img data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" title="{{ build.weapon.name }}" src="{{ build.weapon.get_image }}" />
              </a>
              {% endspaceless %}
            </div>
          </div>
          <div class="col-8 col-sm-10 build-adventurer-box">
            <h4 class="build-adventurer-name draglia-font-bold">{{ build.adventurer.name }}
              <small style="float: right;">{{ build.get_slot_name }}</small>
            </h4>
            <div class="wyrmprints">
              {% for wp in build.get_all_wyrmprints %}
              {% if wp.name %}
              <a href="{{ wp.get_wiki_url }}" target="_blank"><img data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" title="{{ wp.name }}" data-bs-content="{{ wp.ability_name }}" src="{{ wp|get_image_size:155 }}" /></a>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="comp_text">
      {% for slot, build in comp.get_team.items %}
      <div class="card">
        <div class="card-body">
          <div class="list-group list-group-flush list-group-focus">
            <a class="list-group-item" href="../team-overview.html">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="avatar">
                    <img src="{{ build.adventurer|get_image_size:120 }}" alt="..." class="avatar-img">
                  </div>
                </div>
                <div class="col ms-n2">
                  <h4 class="text-body text-focus mb-1 name">{{ build.adventurer.name }}</h4>
                  <p class="small mb-0">{{ build.get_slot_name }}</p>
                </div>
              </div>
            </a>
            {% for wp in build.get_all_wyrmprints %}
            {% if wp %}
            <a class="list-group-item" href="{{ wp.get_wiki_url }}" target="_blank">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="avatar">
                    <img src="{{ wp|get_image_size:155 }}" alt="..." class="avatar-img">
                  </div>
                </div>
                <div class="col ms-n2">
                  <h4 class="text-body text-focus mb-1 name">{{ wp.name }}</h4>
                  <p class="small mb-0">{{ wp.ability_name }}</p>
                </div>
              </div>
            </a>
            {% endif %}
            {% endfor %}
            <div class="list-group-item">
              <div class="row">
                <div class="col-6">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <div class="avatar">
                        <a href="{{ build.dragon.get_wiki_url }}" target="_blank"><img src="{{ build.dragon.get_image }}" alt="..." class="avatar-img"></a>
                      </div>
                    </div>
                    <div class="col ms-n2">
                      <h4 class="text-body text-focus mb-1 name"><a href="{{ build.dragon.get_wiki_url }}" target="_blank">{{ build.dragon.name }}</a></h4>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row align-items-center">
                    <div class="col-auto">
                      <div class="avatar">
                        <a href="{{ build.weapon.get_wiki_url }}" target="_blank"><img src="{{ build.weapon.get_image }}" alt="..." class="avatar-img"></a>
                      </div>
                    </div>
                    <div class="col ms-n2">
                      <h4 class="text-body text-focus mb-1 name"><a href="{{ build.weapon.get_wiki_url }}" target="_blank">{{ build.weapon.name }}</a></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="card" style="padding: 10px 20px;">
      <h3 class="creator-notes mt-3 draglia-font-bold">Creator's Notes</h3>
      <p>{{ comp.creators_notes|linebreaks }}</p>
    </div>

    {% if comp.video_link %}
      {% if comp.get_video_type == 'youtube' %}
        {% include "comps/partials/video_youtube.html" %}
      {% endif %}
      {% if comp.get_video_type == 'streamable' %}
        {% include "comps/partials/video_streamable.html" %}
      {% endif %}
    {% endif %}
  </div>
    

  <div class="col-12 col-xl-4">
    <!-- Card -->
    <div class="card">
      <div class="card-body">
        <div class="list-group list-group-flush my-n3">
          {% for cd in comp_data %}
          {% if cd.1 %}
          <div class="list-group-item">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="mb-0">
                  {{ cd.0 }}
                </h5>
              </div>
              <div class="col-auto">
                <small>
                  {{ cd.1 }}
                </small>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% if comp.discussion_link %}
          <div class="list-group-item">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="mb-0 text-center">
                  <a href="{{ comp.discussion_link }}" target="_blank" class="btn btn-danger btn-sm">Discuss on Reddit <span class="fe fe-external-link"></span></a>
                </h5>
              </div>

            </div>
          </div>
          {% endif %}
      </div>
    </div>

  </div>
</div> <!-- / .row -->
{% endblock %}