{% extends 'base.html' %}

{% block header_pretitle %}Welcome!{% endblock %}
{% block header_title %}Dragalia.GG{% endblock %}

{% block page_nav %}
<li class="nav-item">
<a href="project-overview.html" class="nav-link active">
    Latest Comps
</a>
</li>
<li class="nav-item">
<a href="project-files.html" class="nav-link">
    Auto Comps
</a>
</li>
<li class="nav-item">
<a href="project-reports.html" class="nav-link">
    Manual Comps
</a>
</li>
<li class="nav-item">
<a href="project-reports.html" class="nav-link">
    Popular Comps
</a>
</li>
{% endblock %}

{% block page_content %}
<div data-list='{"valueNames": ["name"]}'>
    <div class="container-fluid" data-list='{"valueNames": ["name"], "listClass": "listAlias"}'>
        {% for c in comps %}
         <div class="row list">
            <div class="col-12">

                <div class="card">
                <div class="card-body" style="background: url('{{ c.get_lead.get_portrait }}') no-repeat left -10px; padding: 1rem">
                    <div class="row align-items-center">
                    <div class="col-auto" style="width: 185px;">
                        <div style="margin-top: 90px; height: 42px; background: url('{% static 'game_assets/banners/banner_bg_160.png' %}') no-repeat left; background-size: cover;">
                            <img src="{{ c.quest.get_banner_image }}" class="border-element-{{ c.quest.get_element|lower }}" style="object-fit: cover; height: 36px; width: 160px; border-width: 2px; border-style: solid; margin-top: 3px;" />
                        </div>
                    </div>
                    <div class="col ms-n2">

                        <!-- Title -->
                        <h3 class="mb-1 name" style="font-size: 25px;">
                        <a href="project-overview.html">{{ c }}</a>
                        </h3>

                        <p class="mb-0">{{ c.description }}</p>

                        <!-- Text -->
                        <p class="card-text small text-muted mb-1">
                        <time datetime="2018-06-21">{{ c.difficulty }} - {{ c.clear_time }} - {{ c.clear_rate }}%</time>
                        </p>

                        <p class="mb-0">
                            {% for slot, adv in c.get_team.items %}
                            <img src="{{ adv.get_image }}" style="width: 60px;" />
                            {% endfor %}
                        </p>

                    </div>
                    </div> <!-- / .row -->
                </div> <!-- / .card-body -->
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}