{% extends 'base.html' %}

{% block header_pretitle %}Dragalia Lost{% endblock %}
{% block header_title %}{{ quest }} Comps{% endblock %}

{% block page_content %}
<div data-list='{"valueNames": ["name"]}'>
    <div class="container-fluid" data-list='{"valueNames": ["name"], "listClass": "listAlias"}'>
        {% for c in comps %}
         <div class="row list">
            <div class="col-12">

                <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                    <div class="col-auto">

                        <!-- Avatar -->
                        {{ c.get_rest_of_team }}
                        {{ c.get_lead }}
                        <a href="project-overview.html" class="avatar avatar-lg avatar-4by3">
                        <img src="assets/img/avatars/projects/project-1.jpg" alt="..." class="avatar-img rounded">
                        </a>

                    </div>
                    <div class="col ms-n2">

                        <!-- Title -->
                        <h4 class="mb-1 name">
                        <a href="project-overview.html">{{ c }}</a>
                        </h4>

                        <!-- Text -->
                        <p class="card-text small text-muted mb-1">
                        <time datetime="2018-06-21">{{ c.difficulty }} - {{ c.clear_time }}</time>
                        </p>

                        <!-- Progress -->
                        <div class="row align-items-center g-0">
                        <div class="col-auto">

                            <!-- Value -->
                            <div class="small me-2">{{ c.clear_rate }}%</div>

                        </div>
                        <div class="col">

                            <!-- Progress -->
                            <div class="progress progress-sm">
                            <div class="progress-bar" role="progressbar" style="width: {{ c.clear_rate }}%" aria-valuenow="{{ c.clear_rate }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                        </div>
                        </div> <!-- / .row -->

                    </div>
                    <div class="col-auto">

                        <!-- Avatar group -->
                        <div class="avatar-group d-none d-md-inline-flex">
                        <a href="profile-posts.html" class="avatar avatar-xs" data-bs-toggle="tooltip" title="Ab Hadley">
                            <img src="assets/img/avatars/profiles/avatar-2.jpg" class="avatar-img rounded-circle" alt="...">
                        </a>
                        <a href="profile-posts.html" class="avatar avatar-xs" data-bs-toggle="tooltip" title="Adolfo Hess">
                            <img src="assets/img/avatars/profiles/avatar-3.jpg" class="avatar-img rounded-circle" alt="...">
                        </a>
                        <a href="profile-posts.html" class="avatar avatar-xs" data-bs-toggle="tooltip" title="Daniela Dewitt">
                            <img src="assets/img/avatars/profiles/avatar-4.jpg" class="avatar-img rounded-circle" alt="...">
                        </a>
                        <a href="profile-posts.html" class="avatar avatar-xs" data-bs-toggle="tooltip" title="Miyah Myles">
                            <img src="assets/img/avatars/profiles/avatar-5.jpg" class="avatar-img rounded-circle" alt="...">
                        </a>
                        </div>

                    </div>
                    <div class="col-auto">

                        <!-- Dropdown -->
                        <div class="dropdown">
                        <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-more-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#!" class="dropdown-item">
                            Action
                            </a>
                            <a href="#!" class="dropdown-item">
                            Another action
                            </a>
                            <a href="#!" class="dropdown-item">
                            Something else here
                            </a>
                        </div>
                        </div>

                    </div>
                    </div> <!-- / .row -->
                </div> <!-- / .card-body -->
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}