{% extends 'base.html' %}

{% block header_pretitle %}Dragalia Lost{% endblock %}
{% block header_title %}{{ quest }} Comps{% endblock %}

{% block page_breadcrumb %}
<nav aria-label="breadcrumb" class="mb-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ quest.section.get_absolute_url }}">{{ quest.section }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ quest }}</li>
    </ol>
</nav>
{% endblock %}

{% block page_content %}
{% for c in comps %}
{% include "comps/partials/comp_listing_row.html" %}
{% endfor %}
{% endblock %}