{% extends 'base.html' %}

{% block header_pretitle %}Dragalia Lost{% endblock %}
{% block header_title %}{{ section }} Comps{% endblock %}

{% block page_breadcrumb %}
<nav aria-label="breadcrumb" class="mb-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ section }}</li>
    </ol>
</nav>
{% endblock %}

{% block page_nav %}
<!-- Nav -->
<ul class="nav nav-tabs nav-overflow header-tabs">
    <li class="nav-item">
    <a href="project-overview.html" class="nav-link active">
        All<span class="d-none d-sm-inline-block">&nbsp;Comps</span>
    </a>
    </li>
    {% for event in section.get_quests %}
    <li class="nav-item">
        <a href="{{ event.get_absolute_url }}" class="nav-link">
        {{ event.nav_title }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block page_content %}
{% for c in comps %}
{% include "comps/partials/comp_listing_row.html" %}
{% endfor %}
{% endblock %}