.draglia-font-normal {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
}
.draglia-font-bold {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.dragalia-font {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    color: #fff;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0;
    color: #fff;
    text-shadow: #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px;
    -webkit-font-smoothing: antialiased;
}

#sidebar {
    color: #000;
    background-position: bottom;
    background-size: cover;
}

.main-content {
    background-image: url('/static/img/gg_bg2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.border-element-light {
    border-color: #95700c;
}
.border-element-shadow {
    border-color: #682484;
}
.border-element-wind {
    border-color: #1f754d;
}
.border-element-flame {
    border-color: #e73031;
}
.border-element-water {
    border-color: #188ede;
}
.header {
    margin-bottom: 1rem;
}
.header-body {
    border-bottom: 0;
}
.header-tabs .nav-link {
    padding-bottom: 0.5rem;
}

/* Listings */
.comp-list-row {
    position: relative;
}
.comp-list-row .card-body {
    background-image: var(--background);
    background-repeat: no-repeat;
    background-position: left -10px;
    padding: 1rem
}
.comp-list-row .card-body h3 {
    font-size: 25px;
}

.comp-list-row a.link-spanner {
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.link-spanner:hover ~ .comp-list-card {
    background-color: #FDFDFD;
}

.link-spanner:hover ~ .comp-list-card h3.name a {
    color: #1657af;
}

.comp-list-card-portrait {
    
}
.comp-list-card-portrait-banner {
    width: 160px;
    margin-top: 90px;
    height: 42px;
    background: url('/static/game_assets/banners/banner_bg_160.png') no-repeat left;
    background-size: cover;
}
.comp-list-card-portrait-banner img {
    object-fit: cover;
    height: 36px;
    width: 160px;
    border-width: 2px;
    border-style: solid;
    margin-top: 3px;
}

.creator-notes {
    border-bottom: 2px solid #000;
    padding-bottom: 0;
    margin-bottom: 0;
}

@media (max-width: 460px) {
    .comp-list-row .card-body {
        background-image: none;
    }
    .comp-list-card-portrait {
        display: block;
        width: 100%;
    }
    .comp-list-card-portrait-banner {
        margin: 0 auto 5px auto;
    }

    .comp-list-row .card-body h3 {
        font-size: 20px;
    }
}

/* Comps CSS */
.popover {
    max-width: 400px;
    text-align: center;
}
.adventurer-image {
    display: block;
    width: 100%;
    height: 95px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
}
.wyrmprints {
    display: block;
}
.wyrmprints a {
    position: relative;
}
.wyrmprints .wp-image {
    cursor: pointer;
    width: 79px;
}
.wp-affinity {
    position: absolute;
    width: 15px;
    z-index: 10;
    top: -5px;
    left: 4px;
}
.wp-affinity-text {
    position: absolute;
    right: 0;
    width: 35px;
}
.build-adventurer-box {
    padding-left: 0;
}
.build-adventurer-dragon {
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
}
.build-adventurer-dragon img {
    display: inline-block;
    width: 45px;
}
.build-adventurer-name {
    font-size: 25px;
    margin-top: 10px;
    border-bottom: 2px solid #000;
}

/* Badges */
.badge.bg-standard {
    background-color: #68c3fd;
    color: #000;
}
.badge.bg-expert {
    background-color: #ffd824;
    color: #000;
}
.badge.bg-master {
    background-color: #fb7b8c;
    color: #000;
}
.badge.bg-legend {
    background-color: #c29cfa;
    color: #000;
}
.text-legend {
    color: #c29cfa;
}
.text-master {
    color: #fb7b8c;
}
.text-expert {
    color: #ffd824;
}
.text-standard {
    color: #68c3fd;
}

/* Mobile */
@media (max-width: 460px) {
    .mobile-hide {
        display: none !important;
    }
    .main-content {
        background-size: auto;
    }
    .build-adventurer-name {
        font-size: 18px;
    }
    .wyrmprints {
        text-align: center;
    }
    .wyrmprints img {
        cursor: help;
        width: 52px;
    }
}
