.draglia-font-normal {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
}
.dragalia-font {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 700;
    color: #fff;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 0;
    color: #fff;
    text-shadow: #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px, #000 0 0 3px;
    -webkit-font-smoothing: antialiased;
}

#sidebar {
    color: #000;
    background-position: bottom;
    background-size: cover;
}

.main-content {
    background-image: url('/static/img/gg_bg2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.border-element-light {
    border-color: #95700c;
}
.border-element-shadow {
    border-color: #682484;
}
.border-element-wind {
    border-color: #1f754d;
}
.border-element-flame {
    border-color: #e73031;
}
.border-element-water {
    border-color: #188ede;
}
.header {
    margin-bottom: 1rem;
}
.header-body {
    border-bottom: 0;
}
.header-tabs .nav-link {
    padding-bottom: 0.5rem;
}

/* Listings */
.comp-list-row .card-body {
    background-image: var(--background);
    background-repeat: no-repeat;
    background-position: left -10px;
    padding: 1rem
}
.comp-list-row .card-body h3 {
    font-size: 25px;
}
.comp-list-card-portrait {
    
}
.comp-list-card-portrait-banner {
    width: 160px;
    margin-top: 90px;
    height: 42px;
    background: url('/static/game_assets/banners/banner_bg_160.png') no-repeat left;
    background-size: cover;
}
.comp-list-card-portrait-banner img {
    object-fit: cover;
    height: 36px;
    width: 160px;
    border-width: 2px;
    border-style: solid;
    margin-top: 3px;
}
@media (max-width: 460px) {
    .comp-list-row .card-body {
        background-image: none;
    }
    .comp-list-card-portrait {
        display: block;
        width: 100%;
    }
    .comp-list-card-portrait-banner {
        margin: 0 auto 5px auto;
    }

    .comp-list-row .card-body h3 {
        font-size: 20px;
    }
}

/* Comps CSS */
.popover {
    max-width: 400px;
    text-align: center;
}
.adventurer-image {
    width: 20%;
    min-width: 20%;
    background-repeat: no-repeat;
    background-position: top 0 left 4px;
    background-size: contain;
}
@media(min-width: 769px) {
    .adventurer-image {
        width: 16%;
        min-width: 16%;
    }
}
@media(max-width: 999px) {
    .wyrmprints {
        width: 100%;
    }
}
.wyrmptints {
    display: block;
}
.wyrmprints img {
    cursor: help;
}
.build-adventurer-box {
    width: 73%;
    padding-left: 0;
}
.build-adventurer-dragon {
    width: 74px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
}
.build-adventurer-name {
    font-size: 25px;
    margin-top: 10px;
    border-bottom: 2px solid #000;
}

/* Mobile */
@media (max-width: 460px) {
    .mobile-hide {
        display: none !important;
    }
    .main-content {
        background-size: auto;
    }
}
