<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% block meta_description %}Welcome to Dragalia.gg - Dragalia Lost Team Builds - Auto, Manual, and more!{% endblock %}" />
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Map CSS -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
    
    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/libs.bundle.css' %}" />
    
    <!-- Theme CSS -->
    <link rel="stylesheet" href="https://use.typekit.net/xkt1txf.css">
    <link rel="stylesheet" href="{% static 'assets/css/theme.bundle.css' %}" />

    <!-- Dragalia.gg CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/dragaliagg.css' %}" />

    <style>
    #sidebar {
      background-image: url('{% static 'img/gg_bg_sidebar.jpg' %}');
    }
    </style>

    {% block extra_css %}{% endblock %}
    
    <!-- Title -->
    <title>{% block meta_title %}Draglia.gg - Dragalia Lost Team Compositions - Auto, Manual and more!{% endblock %}</title>
    
    {% block meta_extra %}{% endblock %}
    {% block meta_canonical %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124598404-8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-124598404-8');
    </script>

  </head>
  <body>

    {% include "partials/nav.html" %}

    <!-- MAIN CONTENT -->
    <div class="main-content"">

      <!-- HEADER -->
      <div class="header">
        <div class="container-fluid">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-auto"></div>
              <div class="col ms-n4">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  {% block header_pretitle %}Welcome!{% endblock %}
                </h6>

                <!-- Title -->
                <h1 class="header-title dragalia-font" attr="">
                  {% block header_title %}Dragalia.gg - Auto, Manual and Semi-Manual Compositions for Draglia Lost{% endblock %}
                </h1>

                {% block header_posttitle %}{% endblock %}

              </div>
            </div> <!-- / .row -->
            <div class="row align-items-center">
              <div class="col">
                {% block page_nav %}{% endblock %}
              </div>
            </div>
          </div>

        </div>
      </div> <!-- / .header -->

      <!-- CONTENT -->
      <div class="container-fluid">
        {% block page_breadcrumb %}
        {% endblock %}
        {% block page_content %}
        {% endblock %}
      </div>

    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT -->
    <!-- Map JS -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    
    <!-- Vendor JS -->
    <script src="{% static 'assets/js/vendor.bundle.js' %}"></script>
    
    <!-- Theme JS -->
    <script src="{% static 'assets/js/theme.bundle.js' %}"></script>

    {% block extra_js %}{% endblock %}
  </body>
</html>
