<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static '/assets/favicon/favicon.ico' %}" type="image/x-icon"/>
    
    <!-- Map CSS -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />
    
    <!-- Libs CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/libs.bundle.css' %}" />
    
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/theme-dark.bundle.css' %}" />
    
    <!-- Title -->
    <title>Draglia.gg</title>
  </head>
  <body>

    {% include "partials/nav.html" %}

    <!-- MAIN CONTENT -->
    <div class="main-content">

      <!-- HEADER -->
      <div class="header">
        <div class="container-fluid">

          <!-- Body -->
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col-auto">

                <!-- Avatar -->
                <div class="avatar avatar-lg avatar-4by3">
                  <img src="assets/img/avatars/projects/project-1.jpg" alt="..." class="avatar-img rounded">
                </div>

              </div>
              <div class="col ms-n3 ms-md-n2">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  {% block header_pretitle %}Welcome!{% endblock %}
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  {% block header_title %}Dragalia.gg - Auto, Manual and Semi-Manual Compositions for Draglia Lost{% endblock %}
                </h1>

              </div>
            </div> <!-- / .row -->
            <div class="row align-items-center">
              <div class="col">

                <!-- Nav -->
                <ul class="nav nav-tabs nav-overflow header-tabs">
                  <li class="nav-item">
                    <a href="project-overview.html" class="nav-link active">
                      Overview
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="project-files.html" class="nav-link">
                      Files
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="project-reports.html" class="nav-link">
                      Reports
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </div>
      </div> <!-- / .header -->

      <!-- CONTENT -->
      {% block page_content %}
      {% endblock %}

    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT -->
    <!-- Map JS -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    
    <!-- Vendor JS -->
    <script src="{% static '/assets/js/vendor.bundle.js' %}"></script>
    
    <!-- Theme JS -->
    <script src="{% static '/assets/js/theme.bundle.js' %}"></script>

  </body>
</html>
