<!-- NAVIGATION -->
<nav class="navbar navbar-vertical fixed-start navbar-expand-md navbar-light" id="sidebar">
    <div class="container-fluid">
  
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Brand -->
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/gg_logo.png' %}" class="navbar-brand-img mx-auto" alt="...">
      </a>
  
      <!-- User (xs) -->
      <div class="navbar-user d-md-none">
  
        
  
      </div>
  
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidebarCollapse">
  
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge input-group-reverse">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-text">
              <span class="fe fe-search"></span>
            </div>
          </div>
        </form>
  
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
              <i class="fe fe-home"></i> Home
            </a>
            <div class="collapse " id="sidebarDashboards">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a href="./index.html" class="nav-link ">
                    Default
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./dashboard-project-management.html" class="nav-link ">
                    Project Management
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./dashboard-ecommerce.html" class="nav-link ">
                    E-Commerce
                  </a>
                </li>
              </ul>
            </div>
          </li>
          {% for section in sections %}
          <li class="nav-item">
            <a class="nav-link" href="{{ section.get_absolute_url }}">
              {{ section }}
            </a>
            <div class="collapse show" id="{{ section.string_slug }}">
              <ul class="nav nav-sm flex-column">
                {% for event in section.get_quests %}
                <li class="nav-item">
                  <a href="{{ event.get_absolute_url }}" class="nav-link">
                    {{ event }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %}            
        </ul>
  
        <!-- Divider -->
        <hr class="navbar-divider my-3">
  
        <!-- Heading -->
        <h6 class="navbar-heading">
          Dragalia.gg
        </h6>
  
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-4">
          
          <li class="nav-item">
            <a class="nav-link " href="./docs/changelog.html">
              <i class="fe fe-git-branch"></i> Changelog <span class="badge bg-primary ms-auto">v2.1.0</span>
            </a>
          </li>
        </ul>
  
  
    </div>
  </nav>