<!-- NAVIGATION -->
<nav class="navbar navbar-vertical fixed-start navbar-expand-md navbar-light" id="sidebar">
    <div class="container-fluid">
  
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Brand -->
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/gg_logo2.png' %}" class="navbar-brand-img mx-auto" alt="...">
      </a>
  
      <!-- User (xs) -->
      <div class="navbar-user d-md-none"></div>
  
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidebarCollapse">

        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">
              <i class="fe fe-home"></i> Home
            </a>
            <div class="collapse " id="sidebarDashboards">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a href="./index.html" class="nav-link ">
                    Default
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./dashboard-project-management.html" class="nav-link ">
                    Project Management
                  </a>
                </li>
                <li class="nav-item">
                  <a href="./dashboard-ecommerce.html" class="nav-link ">
                    E-Commerce
                  </a>
                </li>
              </ul>
            </div>
          </li>
          {% for section in sections %}
          <li class="nav-item">
            <a class="nav-link" href="{{ section.get_absolute_url }}">
              {{ section }}
            </a>
            <div class="collapse show" id="{{ section.string_slug }}">
              <ul class="nav nav-sm flex-column">
                {% for event in section.get_quests %}
                <li class="nav-item">
                  <a href="{{ event.get_absolute_url }}" class="nav-link">
                    {{ event.nav_title }}{% if event.is_new %}<span class="badge bg-primary ms-auto">New!</span>{% endif %}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endfor %}            
        </ul>
  
        <!-- Divider -->
        <hr class="navbar-divider my-3">
  
        <!-- Heading -->
        <h6 class="navbar-heading">
          Dragalia.gg
        </h6>
  
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-4">
          <li class="nav-item">
            <a class="nav-link " href="{% url 'site-faqs' %}">
              <i class="fe fe-info"></i> F.A.Q.
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="https://github.com/jedi-gg/dragaliagg">
              <i class="fe fe-github"></i> Github
            </a>
          </li>
        </ul>
  
  
    </div>
  </nav>